* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

#container {
    width: 80%;
    max-width: 1000px;
    margin: 20px auto;
    height: 700px;
    /* border: 2px solid red;
    overflow: hidden; */
    position: relative;
}

.pane {
    width: 100%;
    height: 100%;
    /* object-fit: cover;
    z-index: 2; */
    position: absolute;
    overflow: hidden;
    object-fit: cover;
}

#pane1 {
    width: 50%;
    z-index: 100;
    background: #cc6600;
}

#pane2 {
    background: #ffcc00;
}

#slide {
    height: 100%;
    width: 10px;
    top: 0;
    left: calc(50% - 5px);
    background: darkgrey;
    border-left: 1px #333 solid;
    border-right: 1px #333 solid;
    /* cursor: pointer; */
    z-index: 200;
    position: absolute;
}

#img-1 {
    object-fit: cover;
    justify-content: center;
    width: 1200px;
}

#img-2 {
    object-fit: cover;
    justify-content: center;
    width: 1200px;
}
